###
# mii processes common ignores
###
**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/

**/*.iml

**/dependency-reduced-pom.xml

cert/*.crt
cert/*.key
cert/*.p12

key/*.key
key/*.pub

rsa/*.pem

###
# docker ignores
###
docker/**/bpe/log/*.log
docker/**/bpe/log/*.log.gz
docker/**/bpe/process/*.jar

docker/**/fhir/log/*.log
docker/**/fhir/log/*.log.gz

docker/secrets/*.crt
docker/secrets/*.jks
docker/secrets/*.key
docker/secrets/*.key.plain
docker/secrets/*.p12
docker/secrets/*.pub
docker/.env
docker/docker-compose.override.yml

docker/mockoon/*.json

###
# data ignores
###
data/data.zip
data/Vorhofflimmern
data/data/**