###
# mii processes common ignores
###
**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/

**/*.iml

**/dependency-reduced-pom.xml

###
# test data generator ignores
###
cert/**/*.pem
cert/**/*.csr
cert/**/*.p12
cert/thumbprints.txt

bundle/*.xml

rsa/*.pem

###
# docker ignores
###
docker/**/bpe/log/*.log
docker/**/bpe/log/*.log.gz
docker/**/bpe/process/*.jar

docker/**/fhir/conf/bundle.xml
docker/**/fhir/log/*.log
docker/**/fhir/log/*.log.gz

docker/secrets/*.pem
docker/secrets/*.p12
docker/.env
docker/docker-compose.override.yml

###
# data ignores
###
data/data.zip
data/Vorhofflimmern
data/data/**